/*
Creator: Brice Howell
Date Created: 1/3/2020
Date last modified:
*/
header, footer {
	background-color: #990000;
	color: #ffffcc;
	height: 100%;
	text-align: center;
	padding: 30px 10px 20px 10px;
	font-family: sans-serif;
	
}
a:visited {
	color: #cccccc;
}
a:hover {
	font-weight: bold;
}
a:active {
	text-decoration: none;
}
nav .btn {
			background-color: #5b7d87;
			color: #fef9ff;
}